/*-- scss:rules --*/

// Highlight color
$highlight-color: yellow;

// Italic color
$italic-color: #8CC696;


// Bold color
$bold-color: #DB94D9;

// Header colors
$header1-color: #D49C34;
$header2-color: #F47AF1;
$header3-color: #92E3A4;
$header4-color: #D4AF6C;

// Document colors
$document-background: #01200C;
$document-font-color: #E5F5EF;

// Internal Table of Contents link style
$toc-color: #38C391;
$toc-active-border : #D9C963; 


//////////////////////////////////////

body {
  background-color: $document-background;
  color: $document-font-color;
}

.output {
  color: green;
  background-color: black;
}

// Apply the customizations
.highlight {
  background-color: $highlight-color;
}

i, em {
  color: $italic-color;
}

b {
  color: $bold-color;
}

h1 {
  color: $header1-color;
}

h2 {
  color: $header2-color;
}

h3 {
  color: $header3-color;
}

/* This will change the color of the TOC links */
#TOC a {
  color: $toc-color;
}

/* This will change the color of the active TOC item */
#TOC .active {
  border-color: $toc-active-border;
}
